*{
    margin:0;
    padding:0;
    background: gray;
}
.cartas {
    text-align: center;
    font-size: none;
    background-color: white;
    border: 0px;
    margin: 2.5vw  2.5vh;
    width:30vw;
    height: 30vh;
    text-decoration: none;
    outline:none;
}

.cartas {
    transition: color 0.8s linear 0.2s;
}
.start {
    text-align: center;
    font-size: 30;
    background-color: black;
    color:white;
    border: 1px;
    border-color: none;
    margin: 1vw  1vh;
    width:80vw;
    height: 20vh;
}
.jugador1 {
    background-color: red;
}
.jugador2 {
    background-color: blue;
}